.card{
  text-align: center;
}

.corFundoMenu{
	background-color: white;
}

#foto-menu{
	padding-bottom: 20px;
	padding-top: 20px;
	position: relative;
	left: 25%;
}

#foto-menu-mobile{
  padding: 20px;
  width: 90%;
  height: 15%;
}

#login-cadastro tr td{
	border: 1px solid #D3D3D3;
	box-shadow: -1px -1px 2px #D3D3D3;
	font-size: 1em;
	text-align: center;
	font-weight: bolder;
}

#login-cadastro{
	position: absolute;
	width: 10%;
	height: 12%;
	left: 77%;
	top: 7%;
}

.tela-login{
	left: 50%;
	margin-right: 20%;
	position: relative;
}

.menu{
	text-align: center;
}

/* ====================== Página residuos ============================ */

#titulo-texto{
	margin-top: 30px;
	font-weight: bolder;
	text-align: center;
	margin-bottom: 15px;
}

#texto-residuos{
	margin-left: 70px;
	margin-right: 70px;
	text-indent: 50px;
}

#fonte-residuos{
	font-size: .7em;
}

.tabela-residuos{
	width: 45%;
	margin-left: 30%;
	margin-right: 30%;
}

.tabela-residuos td{
	padding: 15px;
}

/* ================================================================= */

.nav-wrapper li{ /* Links menu */
	padding-left: 25px;
	padding-right: 25px;
}









