.card{
  text-align: center;
}

.corFundoMenu{
	background-color: white;
}

#foto-menu{
	padding-bottom: 20px;
	padding-top: 20px;
	position: relative;
	left: 25%;
}

#login-cadastro tr td{
	border: 1px solid #D3D3D3;
	box-shadow: -1px -1px 2px #D3D3D3;
	font-size: 1em;
	text-align: center;
	font-weight: bolder;
}

#login-cadastro{
	position: absolute;
	width: 10%;
	height: 12%;
	left: 77%;
	top: 7%;
}

.tela-login{
	left: 50%;
	margin-right: 20%;
	position: relative;

}

.menu{
	text-align: center;
}

/* ====================== Página residuos ============================ */

.mySlides{
	display: none;
}

div.row {
    height: 100%;
    display: inline-block;
}

   
div.col-md-1 {
    width: 38%;
    display: inline-block;
    padding: 5vw 0vw 5vw 0vw;
    min-width:40vw;
}

div.col-md-3 {
    width: 38%;
    display: inline-block;
    margin-right: 0vw;
    padding: 5vw 0vw 5vw 0vw;
    min-width:40vw;
}
