/* ====================== TODAS AS PAGINAS ============================ */

body{
	background-color: #fafafa;
}

.titulo-pagina{
	text-align: center;
	color: #64DD17 !important;
	font-weight: bolder !important;
	padding-top: 13px;
	padding-bottom: 13px;
	font-size: 2.2em;
}

.distancia-slider{
	margin-bottom: -1.5em !important;
}

/* ====================== PAGINA INDEX ============================ */

.btn-centro{
	color: #64DD17 !important;
	font-weight: bolder;
}

.conteudo-carousel-titulo{
	margin: 0 3em;
}

.conteudo-slide-index{
	margin-top: 13em !important;
	width: 100%;
	background-color: rgba(100, 221, 23, .3) !important;
}

/* ====================== PAGINA RESIDUOS ============================ */

#texto-residuos{
	margin-left: 70px;
	margin-right: 70px;
	text-indent: 40px;
	font-size: 1.2em;
}

#fonte-residuos{
	font-size: .7em;
}

.tabela-residuos{
	width: 45%;
	margin-left: 30%;
	margin-right: 30%;
}

.tabela-residuos td{
	padding: 15px;
}

.fonte-fim{
	margin-bottom: .5em;
}

.titulo-materiais-reciclados{
	font-size: 1.3em;
	font-weight: bolder;
	color: #64DD17;
}

/* ====================== PAGINA CONTATO E EMAIL ============================ */

.cor-btn{
	background-color: #64DD17 !important;
}

.divp-email{
	margin-left: 25%;
	margin-top: 2%;
}

.cor-span{
	color: white !important;
}

/* ====================== MENU DA PAGINA ============================ */

.tabela-login{
	text-decoration: none !important;
	color: #64DD17 !important;
}

#login-cadastro{
	position: absolute;
	width: 10%;
	height: 12%;
	left: 77%;
	top: 7%;
}

.menu-login{
	background-color: #64dd17 !important;
}

.cor-menu-usuario{
	color: #64dd17 !important;
}

.menu-dispositivo-movel{
	background-color: #64DD17;
	margin-bottom: .3em;
}

.login-dispositivo-movel{
	color: #64DD17 !important;
	border: 1px solid #D3D3D3 !important;
	box-shadow: -1px -1px 2px #D3D3D3 !important;
}

.cadastre-se-dispositivo-m{
	margin-bottom: 30px !important;
	color: #64DD17 !important;
	border: 1px solid #D3D3D3 !important;
	box-shadow: -1px -1px 2px #D3D3D3 !important;
}

#foto-menu{
	padding-bottom: 20px;
	padding-top: 20px;
	position: relative;
}

#foto-menu-mobile{
  	padding: 20px;
  	width: 90%;
  	height: 15%;
}

.nav-wrapper li{
	padding-left: 25px;
	padding-right: 25px;
}

.corFundoMenu{
	background-color: white;
}

.menu{
	text-align: center;
}

.login-cadastro{
	position: absolute;
	width: 10%;
	height: 12%;
	left: 77%;
	top: 10%;
}

#distancia-topo-mobile{
	margin-top: 2em;
}

/* ====================== PAGINA LOGIN USUARIO ============================ */

.div-principal-login{
	padding-bottom: 1.5em !important;
}

.div-principal-login h3{
	margin-left: 18%;
	text-align: left;
}

#login-cadastro tr td{
	border: 1px solid #D3D3D3;
	box-shadow: -1px -1px 2px #D3D3D3;
	font-size: 1em;
	text-align: center;
	font-weight: bolder;
}

.tela-login{
	left: 50%;
	margin-right: 20%;
	position: relative;
}

.margem-esqueci-senha{
	padding-top: .3em;
	padding-bottom: 1em;
}

.estilo-texto-esqueci-senha{
	text-decoration: none;
	color: #64dd17;
	font-weight: bold;
}

/* ====================== PAGINA CADASTRE-SE ============================ */

.titulo-pagina-cadastre-se{
	margin-left: 18%;
	text-align: left;
}

.div-principal-cadastre-se{
	margin-top: -3em !important;
}

/* ====================== RODAPE ======================================= */

.frase-rodape{
	font-size: 12px;
}

/* ====================== PAGINA DO USUARIO ============================ */

.menu-usuario{
	background-color: #64dd17;
	margin-top: 1.1em;
}

.menu-usuario a{
	font-size: 1.1em;
	color: white;
	font-weight: bolder;
}

.menu-usuario a:hover{
	color: #82877f;
}

.menu-usuario i{
	margin-right: 5px;
}

.ola-usuario{
	color: white;
}

.ola-usuario i{
	margin-right: 5px;
}
td button{
	background-color: inherit;
	border: none;
}

.distancia-topo-usuario{
	margin-top: 3vw;
}

.distancia-lados-tabela{
	margin-left: 2em;
	margin-top: 1.6em;
}

.distancia-lados-tabela th {
	padding: 1em;
}

/* ====================== PAGINA TROCAS ============================ */

.titulo-objeto{
	font-weight: bolder;
}

.distancia-topo{
	margin-top: 1.5em;
}

.botao-objeto{
	background-color: #64dd17 !important;
	margin-bottom: 100px !important;
	margin-top: 20px !important;
}

.titulo-partes-objeto{
	font-size: .8em;
}

.distancia-div-acima{
	margin-top: -20px;
}

.fundo-paginacao{
	background-color: #64dd17 !important;
}

/* ====================== PAGINA CONTATO ============================ */

#form-contato{
	width: 350px;
	margin: 0 auto;
	margin-bottom: 1%;
	margin-top: 35px;
}

.erro-email{
	text-align: center;
	color: #64DD17;
	font-weight: bolder;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.5em;
	text-shadow: 1px .5px #64DD17;
}

/* ====================== AJAX =========================== */

.erro{
	color: red;
	display: inline;
	font-size: 10pt;
}

.esconde{
	display: none;
}

#preloader{
	margin-left: 10px;
	display: none;
}

.card{
	text-align: center;
}

/* ====================== VER PROJETOS =========================== */

.descricao-ver-mais{
	text-indent: 50px;
}

.textos-projeto-ver-projeto{
	font-size: .8em;
}

.titulo-partes-projeto{
	font-size: 1.3em;
}

.frase-card-ver-projetos{
	font-size: .7em !important;
}

/* ====================== PAGINA PROJETOS USUARIOS ============================ */

.botao-ver-projeto{
	background-color: #64DD17 !important;
	margin-bottom: .5em !important;
}

.titulo-enviar-projeto{
	background-color: rgba(0, 0, 0, .5);
	font-size: .9em !important;
}

.imagem-pagina-projetos{
	height: 306px;
	width: 408px;
}

/* ==================== PAINEL ADMIN ========================== */

.estiloProjetosExcluidos{
	margin-top: 2em;
}

.reprovar{
	color: red !important;
}

.aprovar{
	color: #64DD17 !important;
}

.registroDeLogsResultado{
	margin-top: 2em;
	margin-bottom: 2em;
}

.btnPesquisarNovamente{
	margin-bottom: 1.5em;
}

/* ==================== ENVIAR MENSAGEM ========================== */

.distancia-aviso{
	margin-top: 3em !important;
}

.distancia-abaixo-aviso{
	margin-bottom: 3em !important;
}

.estilo-perguntas{
	padding: 2em !important;
}

.titulo-mensagem{
	font-weight: bolder;
	font-size: 1.7em;
	color: #64dd17;
}

/* =====================    AJUDA   =========================== */

.paragrafo-ajuda{
	text-indent: 25px;
}

.entrar-em-contato{
	color: #64DD17;
	font-weight: bolder;
}

/* =====================  REPORTAR ERRO =========================== */

.titulo-pagina-reportar{
	margin-left: 18%;
	text-align: left;
	margin-bottom: -5px;
}

/* =====================  REPORTAR ERRO =========================== */

.btnBuscarUsuario{
	margin-top: 2.5em;
	background-color: #64DD17 !important;
}

/* =====================  AMIGOS =========================== */

.descricaoAmigo{
	font-size: .9em;
	margin-top: 80px;
	margin-bottom: 60px;
	float: left;
	text-indent: 20px;
	font-style: oblique;
	font-weight: bolder;
}
.imagens-empresas{
	width: 60%;
	height: 40%;
	margin-right: 15%;
	float: right;
}

/* ============================================================ */
